body {
    font-family: arial;
    text-align: center;
    background-color: beige;
    padding-top: 100px;
}

nav {
    text-align: left;
    border: 2px solid grey;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.navItem {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
}

button {
    cursor: pointer;
}

label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}