<div class="container">
  <h1>Angular Demo</h1>

  <p>
    Deze pagina is geschreven door {{ mainStudent.name }} van {{ mainStudent.age }} uit {{ mainStudent.city }}. <br>
  </p>

  <button (click)="birthday()">Birthday</button>
  <br>

  <input [(ngModel)]="newName" placeholder="Enter name"/> <br>
  <input [(ngModel)]="newAge"/> <br>
  <button (click)="addStudent()"  [disabled]="newName == '' || newAge == 0">Add Student</button>
  <br>
  <button (click)="clearStudents()">Clear Students</button>
  <br>

  <h3>
    @if (students.length === 1) {
      Er is {{ students.length }} student.
    } @else {
      Er zijn {{ students.length }} studenten.
    }

  </h3>

  <ul>
    @for (student of students; track student) {
      <li>{{ student.name }} van {{ student.age }}</li>
    }
  </ul>
</div>
